.container{
    background-color: white;
    width: 370px;
    height: 660px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(48, 171, 241);
    margin: 0 auto;
    box-shadow: 7px 17px 25px 7px rgba(203,233,248,0.73);
    -webkit-box-shadow: 7px 17px 25px 7px rgba(203,233,248,0.73);
    -moz-box-shadow: 7px 17px 25px 7px rgba(203,233,248,0.73);
    border-radius: 6px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    /* padding-bottom: 3%; */
}


/* TABLE DESIGNS STARTS */
table{
    margin: auto;
    margin-top: 50px;
}
tr, td{
    border-right: 2px solid rgb(189, 187, 187);
    border-bottom: 2px solid rgb(189, 187, 187);;
    border-collapse: collapse;
}
tr, td{
    padding: 30px 25px;
}
.cel-1{
    border-right: none !important;
}
.cel-2{
    border-bottom: none !important;
}
/* TABLE DESIGN ENDS */


/* INPUT DESIGNS STARTS */
.input-cel-1{
    /* width: 40px;
    height: 4px; */
    background-color: white;
    border: none;
    text-align: center;
    opacity: 0;
    transition: all 0.4s;
}

#x1{
    order: 1;
    width: 40px;
    height: 40px;
    /* border: 1px solid gray; */
    border-radius: 50%;
}
#x2{
    order: 1;
    width: 40px;
    height: 40px;
    /* border: 1px solid gray; */
    border-radius: 50%;
    
}
.score{
    margin-right: 3px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
#picture{
    width: 300px;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    align-items: center;
    justify-content: space-between;
}
#result{
    
    width: 325px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#imgx{
    width: 30px;
    height: 30px;
}

#x-player1{
    color: rgb(18, 211, 245);
    font-family:cursive;
    
  
    
 }
#y-player1{
    margin-left:5px;
    color: rgb(49, 49, 252);
    font-family:cursive;
    
  
}
#equale1{
    color: gray;
    font-family:cursive;
   
    
    
}
/* INPUT DESIGNS ENDS */
.sitting{ 
    display: flex;
    flex-direction: row;
    /* border: 1px solid gray; */
    margin-top: 15%;
    margin-bottom: 10%;
    justify-content: space-between;
    width: 65%;
    

}
#res{
    order: 1;
    width: 45px;
    height: 45px;
    border: 1px solid gray;
    border-radius: 50%;
    background-color: gray;
    
}
#pla{
    order: 1;
    width: 100px;
    height: 35px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 70px;
    margin-top: 6px;
}
#ppla{
    margin-top: 6px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: gray;
}
#sitt{
    order: 1;
    width: 45px;
    height: 45px;
    border: 1px solid gray;
    border-radius: 50%;
    background-color: gray;
    
}
#pict, #recycle{
    margin-top: 7px;
}

.player{
    width: 85px;
    margin-top:30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid rgb(168, 167, 167);
    border-radius: 30px;
    align-items: center;
}

.player > div {
    width: 40px;
    height: 40px;
    padding: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    transition: all .4s  ease;
}